.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .application-form label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .application-form input[type="text"],
  .application-form input[type="number"],
  .application-form textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .application-form input[type="file"] {
    margin-top: 10px;
  }
  
  .application-form button[type="submit"] {
    background-color: #FF5800;
    border-color: #FF5800;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .application-form button[type="submit"]:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  